@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
   width: 100%;
   text-align: center;
   margin-top: 10rem;
}
#title{
    text-align: center;
    font-size: 6rem;
}
#inputText{
    padding: 1rem;
    width: 30rem;
    height: 4.5rem;
    border: 3px solid orange;
    outline: none;
    font-size: 2rem;
    vertical-align: middle;
    border-radius: 1.5rem;
}
#addToDo,#clearToDo{
    width: 8rem;
    height: 4.5rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
    transition: .5s ;
    color: #111;
}
#deleteditems{
    width: 16rem;
    height: 4.5rem;
    background-color: #333;
    border-radius: 1.5rem;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 1.8rem;
    outline: none;
    cursor: pointer;
    transition: .5s;
    color: #fff;
}
#addToDo{
    margin-left: 1rem;
    background-color: #4f7;
}
#addToDo:active,#clearToDo:active,#deleteditems:active{
    scale: 1.3;
}
#clearToDo{
    background-color: #e82020;
}
.to-dos{
    margin-top: 2rem;
}
.paragraph-style{
    font-size: 3.5rem;
    cursor: pointer;
    color: #000;
    text-transform: capitalize;
}
#addToDo:hover{
    background-color: #39a837;
    color: #fff;
    transition: 0.3s cubic-bezier(0.32, 0, 0.67, 0);
}
#clearToDo:hover{
    background-color: #ba0b0b;
    color: #fff;
    transition: 0.3s cubic-bezier(0.32, 0, 0.67, 0);
}
#deleteditems:hover{
    background-color: #b5b1b1;
    color: #333;
    transition: 0.3s cubic-bezier(0.32, 0, 0.67, 0);
}
@media screen and (max-width: 500px) {
    #title{
        font-size: 4.5rem;
    }
    #deleteditems,#addToDo,#clearToDo{
        margin-top: 1rem;
    }
}